{% extends 'base.html.twig' %}

{% block title%}Card Game{% endblock title %}

{% block main %}
<article>
    <h1>
        Deck of cards
    </h1>
    <h2>Det finns {{ count_cards }} kort kvar i deck.</h2>
    <div class="card-container">
        
        {% for card in cards %}
        <span class="card {{ card.getCardColor() }}"> {{ card.getSymbol() }}</span>
        {% endfor %}
    </div>
</article>
{% endblock main%}

