{% extends 'base.html.twig' %}

{% block title%}Card Game{% endblock title %}

{% block main %}
<h1>
	H채r 채r min card deck sida

</h1>
<p>
    Skapa en sida card/deck som visar samtliga kort i kortleken sorterade per f채rg och v채rde.
</p>
{% endblock main%}

