{% extends 'base.html.twig' %}

{% block title%}Card Game{% endblock title %}

{% block main %}
<h1>
	Deck of cards - {{ sort }}
</h1>
<div class="card-container">
    {% for card in cards %}
    <span class="card"> {{ card }}</span>
    {% endfor %}
</div>

{% endblock main%}

