{% extends 'base.html.twig' %}

{% block title%}Session debug{% endblock title %}

{% block main %}
<h1>
    Session data
</h1>

{{ include("flash.html.twig")}}

<p>Antal kort i sessionen: {{ dump(deckOfCards) }} </p>
<p>Antal kort i handen: {{ dump(cardsInHand) }} </p>

{% endblock main%}

