{% extends 'base.html.twig' %}
{% block title %}Draw card{% endblock title%}

{% block main %}



{% if card %}
    <h1>You removed the card below</h1>
    <span class="card"> {{ card }}</span>

    <p>cards left: {{ count_cards }}</p>
{% else %}

{{ include("flash.html.twig")}}

{% endif %}

{% if count_cards == 0%}

<p>Deck is empty, do you wanna <a href="{{ path('session_dump') }}">reset</a> session?</p>

{% endif %}

{% endblock main %}