@use 'button';
@use 'room';
@use 'nav';
@use 'db';

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

// Reset-stilar
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pixelify Sans', monospace;
  color: #fdf6e3;
  background-color: #000;
  min-height: 100vh;
}


main {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  // border: 2px solid white;
}

ul {
  list-style: none;
}

p {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  background-color: #111;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  color: #888;
}