.player-info {
  position: absolute;
  top: 8rem;
  left: 22rem;
  color: #ffdd57;
}

.background img {
  width: 100%;
  object-fit: cover;
  height: 700px;
  object-position: center;
}

.room-content {
  padding: 1rem;
  font-size: 1.2rem;
}

.room-form {
  margin: 1rem;
}