.background {
  position: relative;
}

.background .img {
  width: 100%;
  object-fit: cover;
  height: 700px;
  object-position: center;
}

.player-info {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #ffdd57;
}

.room-content {
  padding: 1rem;
  font-size: 1.2rem;
}

.room-form {
  margin: 1rem;
}

.player-info .icon {
  width: 36px;
}