
<article>


<h1>
    hello test
</h1>
<div class="card-container">
    {# <span class="card">{{cards.getSymbol()}}</span> #}
    {# <p>{{ currentPlayer }}</p> #}
    {# {{ dump(cards)}} #}
</div>
</article>