{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}
{% block main %}


<article>
<h1>Välkommen till spelet 21</h1>
<section class="game-description">
    <h2>Spelets Idé</h2>
    <p>
        Spelet går ut på att med hjälp av två eller fler kort försöka uppnå ett sammanlagt värde av 21, eller komma så nära 21 som möjligt utan att överskrida det. Ess har ett värde av 14.
    </p>
    <p>
        Spelet är även implementerat med en möjlighet att spela &quot;multiplayer&quot; och du får i samband med början av spelet välja hur många spelare som ska spela. Spelarna är inte medvetna om varandras kort och respektive spelare får dra ett kort tills hen är nöjd eller trycker på stop knappen.
    </p>
    <p>
        Spelaren kan alltså plocka ett kort och få värde 14 och då välja att ta ett till kort, men med risk att få över 21. <br>
        När alla spelare har gjort sina val initieras Banken, som via en enkel algorithm försöker få så höga poäng som möjligt, men med risken att överskrida 21.
    </p>
    <p>
        När både spelarna och banken har gjort sina drag visas ett resultat över omgångens vinnare, samt vilka poäng och kort övriga spelare fick. <br>
    </p>
    <p>
        För mer information kring hur spelet är implementerat, var god läs <a href=" {{ path("game_doc") }}">dokumentationen</a>
    </p.
</section>

<section class="game-doc">
    <h2>Spelesugen?</h2>

    <p>När du är redo att börja spelet, tryck på knappen nedan</p>
    <a href="{{ path('multiplayer_get') }}"><button class="button primary-button fifty" value="do-it">Starta spelet</button></a>

</section>
</article>


{% endblock %}

