{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}
{% block main %}


<article>
<h1>Välkommen till spelet 21</h1>
<section class="game-description">
    <h2>Spelets Idé</h2>
    <p>Spelet går ut på att med hjälp av två eller fler kort försöka uppnå ett sammanlagt värde av 21, eller komma så
        nära 21 som möjligt utan att överskrida det. Ess har ett värde av 1.</p>
</section>

<section class="game-rules">
    <h2>Spelets Regler</h2>
    <p>En spelrunda kan se ut så här när en spelare spelar mot banken:</p>
    <ol class="rule-list">
        <li>Spelet leder till en landningssida där man kan läsa spelregler och se dokumentation om spelet samt påbörja
            ett spel.</li>
        <li>Spelplanen visas och både spelaren och banken har inte tagit några kort.</li>
        <li>Spelaren tar ett kort. Kortet visas.</li>
        <li>Spelaren kan bestämma att stanna eller ta ytterligare ett kort.
            <ul>
                <li>Om spelaren får ett sammanlagt värde över 21, vinner banken.</li>
            </ul>
        </li>
        <li>När spelaren stannar, är det bankens tur.</li>
        <li>Banken är inte medveten om spelarens korthand.</li>
        <li>Banken plockar kort tills den stannar eller får ett sammanlagt värde över 21.
            <ul>
                <li>Banken vinner vid lika eller om banken har mer än spelaren.</li>
                <li>Spelaren vinner om banken får över 21.</li>
            </ul>
        </li>
        <li>Efter en runda kan man påbörja en ny omgång.</li>
    </ol>

    <p>När du är redo att börja spelet, tryck på knappen nedan</p>
    <a href="{{ path('game-play') }}"><button class="button primary-button" value="do-it">Starta spelet</button></a>
</section>
</article>


{% endblock %}

