{% extends 'base.html.twig' %}

{% block title %}Playing{% endblock %}
{% block main %}

<article>
    <a href=" {{ path('game_destroy') }}" class="button">Destroy game Session</a>
    <h1>We are now playing the game of 21</h1>
    <h2>Current player: {{ player.getName() }}</h2>
    <div class="flex-container">

    
    <section class="player1">
        <div class="player" class="{{ player.getName ? "active" : "inactive" }}">
            <article>
                <h2>Hello there</h2>
                <button>Dra kort</button>
                <button>Stop</button>
            </article>







        </div>
    </section>
    <section class="player2">
        <div class="bank" class="{{ player.getName ? "active" : "inactive" }}">
            <article>
                <h2>Hello there</h2>
                <button>Dra kort</button>
                <button>Stop</button>
            </article>
        </div>
    </section>
    </div>

    </div>
</article>

{% endblock %}

