{% extends 'base.html.twig' %}
{% block title %}About{% endblock %}
{% block body %}
<h1>About</h1>

<p>
    Detta är mitt slutprojekt för kursen MVC.
</p>
<p>Jag har valt att göra ett Äventyrsspel då jag tyckte det var en roligare utmaning än att skapa ännu ett kortspel (är själv inte intresserad av kortspel).</p>
<p>Spelet går ut på att du ska försöka döda en drake som vaktar den värdefulla skatten. Spelet kommer ta dig genom olika rum och det finns då olika objekt att interagera med.</p>
<p>Kanske kan du använda objekt för att ge dig mer liv, eller kanske kan du använda objekt för att öka din skada och därmed öka dina chanser att besegra draken? Kanske... vem vet..</p>

<p>Till spelet har jag implementerat en databas i SQLite, implementera databasen för att spela spelet. <br> <a class="action-button" href="{{ path('index_database')}}"> Databas</a></p>

{% endblock body %}