{% extends 'base.html.twig' %}
{% block title %} Cheat {% endblock %}
{% block body %}
<h1>Cheating</h1>


<p>
    Börja med att initiera databasen om den inte redan är det, om du under proj/database ser olika bilder så är databasen initerad. Databasen ska initieras direkt via Adventure men det kan vara bra att dubbelkolla.
</p>

<p>
    För att snabbt ta sig igenom spelet. Loota svärdet och Spaden, tryck på "dig secrets" och loota nyckeln. 
    Gå därefter till nästa rum och använd nyckeln för att låsa upp dörren,
    loota äpplet och gå vidare till nästa rum. 
    Attackera draken, ät äpplet och attackera igen.
</p>


{% endblock body %}