{% extends 'base.html.twig' %}

{% block body %}

<div class="background">
    <img class="" style="object-fit: cover; width:100%" src="{{ asset('build/images/adventure/lose.png')}}"
        alt="win.png">
</div>

<div class="room-content">
    <p>The cavern grows cold as your strength fades. The dragon’s eyes burn brighter, unchallenged, eternal. Your weapon slips
    from your hand. You fought bravely—but not well enough.
    
    You got killed by the dragon.
    
    The treasure remains, untouched. The legend, unfinished.</p>
</div>

{% endblock body %}