{% extends 'adventure/database.html.twig' %}

{% block rooms %}
{% for room in rooms %}
<h3>{{room.name}}</h3>
<img class="" src="{{ asset('build/images/adventure/' ~ room.background|capitalize)}}"
{% endfor %}
{% endblock rooms%}