{% extends 'base.html.twig' %}

{% block body %}

        <div class="background">
        <img class="" style="object-fit: cover; width:100%" src="{{ asset('build/images/adventure/win.png')}}" alt="win.png">
        </div>
        
        <div class="room-content">
            <p>The beast lies still, its once-mighty wings folded in silence. Flames no longer flicker in its throat. Around you, gold
            and glory stretch as far as the eye can see. You stand victorious.
            
            You slayed the dragon. The treasure is yours.
            
            But at what cost? The silence lingers… was this the end, or only the beginning of your legend?</p>
        </div>
    </div>
{% endblock body %}

