{% extends "base.html.twig" %}
{% block title %}Kasta tärning{% endblock %}
{% block main %}
<div class="pig-container">
    <h1 class="pig-h1">Roll a dice</h1>

    <p>Here is the value of the dice.</p>

    <ul>
        <li class="die">{{ diceString }}</li>
    </ul>

</div>
{% endblock %}