@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.adventure *{
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 500;
}

.player-info {
  position: absolute;
  top: 15rem;
  left: 17rem;
  color: orange;
}

.backpack {
  display: flex;
}



.backpack .bag{
  width: 5rem;
  height: 5rem;
}

img .icon {
  width: 64px;
  height: 64px;
}