@use 'variables' as *;

.reroll {
  box-shadow: 2px 2px 2px darkslategrey;
  background-color: $primary-color;
  border-color: $primary-color;
  border-radius: 2px;
  color: #fff;
  font-family: $font-family-header;
  letter-spacing: 1px;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}

.reroll:hover {
  background-color: $dark-accent;
  border-color: $dark-accent;
}