@use 'variables' as *;
@use 'sass:color';

.flex-container,
.image-container,
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: start;
}

.image-container {
  justify-content: space-around;
}

.text-box {
  text-align: left;
  padding-right: 0.5rem;
}

.button-container {
  justify-content: space-evenly;
}

.game-layout h1 {
  margin: 2rem auto;
}

.winner,
.player,
.bank {
  text-align: center;
  border: 1px solid #a08c6e;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #aca3a2;
  margin-bottom: 2rem;
}

.winner h1,
.player h1,
.bank h1 {
  margin: 0 auto;
}

.winner {
  background-color: #85BB65;
}

.warning {
  border-radius: 0.2rem;
  color: $warning-text;
  background-color: color.scale($warning-text, $lightness:70%);
}

.warning h1 {
  padding: 0.5rem;
  border-bottom: 0;
  margin-bottom: 1.4rem;
}