.flex-container,
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  justify-content: space-around;
}

.text-box {
  text-align: left;
  padding-right: 0.5rem;
}
