// Lägg till denna rad högst upp i varje fil som använder variabler
@use 'variables' as *;

.navbar {
  padding: 1rem;
  padding-left: 4rem;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  font-size: 2rem;
}

.navbar li {
  display: inline;
  padding: 1rem;
  font-size: 2rem;
}

.navbar li a:hover,
.navbar li a:active {
  color: $primary-color;
}

.navbar li a {
  color: $light-shades;
}

.navbar li a.active {
  color: $primary-color !important;
}