$font-family-text: 'Merriweather';
$font-family-header: 'Source Sans 3', sans-serif;

$primary-color: #E95849;
$light-shades: #F4F6F1;
$light-accent: #ACA3A2;
$dark-accent: #A08C6E;
$dark-shades: #2D383F;
$text-on-light-background: #2D383F;
$blue: #004085;
$gold: #A08C6E;

$border-radius: 5px;
$box-shadow: 2px 2px 2px $light-accent;

// I variables.scss
$flash-notice-text-color: #004085;
$flash-notice-bg-color: #cce5ff;
$flash-notice-border-color: #b8daff;

$flash-warning-text-color: #856404;
$flash-warning-bg-color: #fff3cd;
$flash-warning-border-color: #ffeeba;

$warning-text: #ff0000;
