{% extends "base.html.twig" %}

{% block main %}
<article>
<h1>Tillgängliga JsonRoutes:</h1>
    <ul>
        <li><a href="{{ path('quote') }}">Quote</a> - Generate a random qute in Json format</li>
        <li><a href="dec">Deck</a> - Return a deck of cards sorted by color and value, as Json</li>
        <li><a href="shuffle">Shuffle</a> - Shuffle a deck of cards sorted by color and value, as Json</li>
        <li><a href="draw">Draw</a> - Draw a card and display the card as Json, save remaning cards</li>
        <li><a href="draw">Draw 5 cards</a> - Draw 5 cards and display the cards as Json, save remaning cards</li>
    </ul>
</article>
{% endblock %}