{% extends "base.html.twig" %}

{% block main %}
<article>
<div class="report-container">
    <aside class="right">
        <h3>Förteckning</h3>
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
        </ul>
    </aside>
    <div class="report">
        <section>
            <h1 id="kmom01">Kmom01</h1>
            <p>Nu är jag igång med kursen mvc! För mig var det en omställning att gå från Python till Php, men det kändes lättare efter att ha gått igenom klasser och objekt i Php. Objektorientering generellt har jag erfarenhet av från tidigare oopython kurs och jag har även gått en kurs i C# vilket gör att jag känner igen begrepp som private, public, instans, typdeklarationer etc.</p>
            <p>
                Grunder man behöver veta för att komma igång är generella begrepp inom objekterientering och klasser. Dels är klasser och objekt "object by reference" vilket gör att vår variabel för en klass pekar på en referens i minnet, om vi därför kör obj2 = obj1 och i obj2->name = "kalle" så ändrar du även på obj1.
                Keyword <code>$this</code> refererar till <code>self</code> i python och pekar på instansen av ett objekt.
                För att initera en instans av en klass behöver vi en constructor, som då även kan ta emot argument.
                Klasser i Php går även att göra <code>encapuslated</code> vilket betyder att vi kan välja vilka metoder och attribug vi vill ska kunna användas utanför klasen. En <code>private</code> attribut eller metod kan bara användas av klassen internt, medan en <code>public</code> kan användas utanför klassen.
            </p>
            <p>
                Om jag ska reflektera över strukturen för uppgiften i report så är den lite delad. Allt är ju väl organiserat med moduler indelat i egna mappar etc. Nackdelen är dock att du får en mängd olika mappar och filer som du inte har någon aning om vad de gör. Utöver Symfonys egna appstruktur så får du även filer för composer och package.json. <br>
                Däremot var övningen vi gjorde inför uppgiften välstrukturerad som vanligt, det var bra exempel och mycket gick att återanvända och anpassa inför uppgiften.
            </p>
            <p>Gällande artikel PHP The Right Way så är det svårt att välja ett specifikt område. Allting ser egentligen intressant ut men om jag ska välja några rubriker som jag finner extra intressanta så är det Security. Det känns som att när vi kan skapa användare och hantera inloggningar m.m så har vi skapat en &quot;riktig&quot; webbapplikation. Till användare och inloggningar hör ju även databaser, något som också är intressant att få grepp om tillsammans med hur vi kan använda det i PHP. Docker känner jag bara igen vid namn så det blir jag också nyfiken på, utan att ha någon som helst tidigare erfarenhet eller kunskap om vad det egentligen är.</p>
            <p>Min TIL för detta kmom är nog främst Symfony, att få lite flyt i arbetet med att skapa Controllers och Templates. Först tyckte jag det kändes rörigt med att visa assets men jag har ändå lyckats visa de bilder jag velat, så det börjar också landa. Utöver det så är det helheten, att kunna följa en krav specifikation och skapa innehåll som matsvarar dem.</p>
        </section>
    </div>
</div>
</article>
{% endblock %}