{% extends "base.html.twig" %}

{% block main %}
<article>
<div class="report-container">
    <aside class="right">
        <h3>Förteckning</h3>
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
        </ul>
    </aside>
    <div class="report">
        <section>
            <h1 id="kmom01">Kmom01</h1>
            <p>Här kommer redovisningstexter</p>
        </section>
    </div>
</div>
</article>
{% endblock %}