{% extends 'base.html.twig' %}

{% block title %}Library Index{% endblock %}

{% block body %}
<article>
    <h1>Välkommen till Biblioteket</h1>
    <p>Här på Doctrin's Bibliotek har vi en samling spännande böcker.</p>
    <p>Ska du registrera en ny bok? <a href="{{ path('register_book')}}">Registrera ny bok</a></p>
    <p>Vill du se tillgängliga böcker? <a href="{{ path('book_view_all')}}">Visa böcker</a></p>
</article>
{% endblock %}