{% extends 'base.html.twig' %}

{% block title %}Library Index{% endblock %}

{% block body %}
<article>
    <h1>Registrera ny bok</h1>
    <form action="{{ path('add_book')}}" method="POST">

    </form>
</article>
{% endblock %}