{% extends 'base.html.twig' %}

{% block title %}Library Index{% endblock %}

{% block body %}
<article>
    <h1>Registrera ny bok</h1>
    <form action="{{ path('add_book')}}" method="POST">
        <label for="title">Titel</label>
        <input class="input book-input" type="text" name="title" id="title" required>
        <label for="isbn">ISBN</label>
        <input class="input book-input" type="text" name="isbn" id="isbn" required>
        <label for="author">Författare</label>
        <input class="input book-input" type="text" name="author" id="author" required>
        <label for="publisher">Publiserare</label>
        <input class="input book-input" type="text" name="publisher" id="publisher" required>
        <label for="img_url">Bild url</label>
        <input class="input book-input" type="text" name="img_url" id="img_url">
        <button class="button blue-button fifty" type="submit">Registrera bok</button>
    </form>
</article>
{% endblock %}